@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html {
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 85%;
  }
}

.container-out {
  position: fixed;
  top: 50%; /* 50px to rem */
  left: 50%; /* 50px to rem */
  transform: translate(-50%, -50%); /* -50px to rem */

  border: 0.1rem solid #112A40; /* 1px to rem */
  border-radius: 0.5rem; /* 5px to rem */
  padding: 1rem; /* 10px to rem */

  background: #1D232E;
}

.container-in {
  padding: 1rem; /* 10px to rem */
  background: hsla(203, 95%, 22%, 0.1);

  border: 0.1rem solid #202e3f; /* 1px to rem */
  border-radius: 0.25rem; /* 2.5px to rem */

  text-align: center;
  color: #fff;

  box-shadow: rgba(222, 222, 226, 0.107) 0px 7px 29px 0px;

}

.outline {
  -webkit-text-stroke-width: 1px; /* 0.1px to rem */
  -webkit-text-stroke-color: #214f72;

  text-shadow: 1px 1px #214f72;

  font-family: 'Poppins', sans-serif;
}

.ticker {
  border: 0.1rem solid #14354b; /* 1px to rem */
  border-radius: 0.1rem; /* 1px to rem */
  padding: 0.5rem; /* 2.5px to rem */
  width: fit-content;
  margin: auto;
}

.ticker span {
  background-color: #26272c;
  font-size: 50px;
  margin: 0.5rem;
  padding: 7.5px 15px;
}

.remove2{
  margin: 0px !important;
  padding: 0px !important;
}

.counter {
  background-image: linear-gradient(to bottom, #1D232E, #1D232E);
  margin: 0.5rem; /* 5px to rem */
  padding: 0.5rem; /* 5px to rem */
  border: 0.1rem solid #172d3e; /* 1px to rem */
  border-radius: 0.2rem; /* 2px to rem */
  box-shadow: rgba(222, 222, 226, 0.094) 0px 7px 29px 0px;
}

.counter-title {
  border: 0.01rem solid #ffffff2d; /* 0.1px to rem */
  padding: 0.1rem; /* 1px to rem */
  width: fit-content;
  margin: 0.3rem auto;
  font-size: 20px;
}

.countdown {
  background-color: #26272c;
  border-radius: 0.1rem; /* 1px to rem */
  width: fit-content;
  margin: 0.02rem auto; /* 0.2px to rem */
  padding: 0.5rem; /* 5px to rem */
}

.countdown span {
  background-color: #363739;
  margin: 0.1rem; /* 1px to rem */
  padding: 0.2rem; /* 2px to rem */
  font-family: 'Poppins', sans-serif;
}

#remove {
  background: transparent !important;
}
